
        body {
            background-color: black;
            font-family: 'Consolas', monospace;
            color: lawngreen;
            margin: 0;
            padding: 0;
        }

        main {
            padding: .5rem;
        }

        #output {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        #output .user {
            color: lawngreen;
            font-weight: 700;
        }

        #prompt {
            display: flex;
            align-items: center;
            font-size: 1.5rem;
        }

        #prompt input {
            display: block;
            outline: none;
            border: none;
            background-color: transparent;
            color: lawngreen;
            padding: 1rem 0.5rem;
            font-size: inherit;
            font-family: 'Consolas', monospace;
            position: relative;
        }

      
